
.row
  .span10.home_header
    %center
      %h1 Welcome to Delta Trade
  .span2
    .button
      .btn.btn-large= link_to "Sign up!", new_user_registration_path

.container.home_page
  .row
    .span3
      = image_tag("stock1.jpg", :size => "320x240", :class => "imgshadow")
    .span9
      %h4.text-info= "Get the best of both worlds.."
      = "Lorizzle fizzle fo shizzlin dizzle, doggy adipiscing crazy. Fo sapien velizzle, gangster volutpizzle, suscipizzle ass, brizzle i'm in the shizzle, bling bling. Sheezy fo shizzle tortizzle. Sizzle erizzle. Yippiyo break it down dolizzle nizzle for sure things fo. Bling bling i saw beyonces tizzles and my pizzle went crizzle nibh get down get down dang. My shizz izzle sheezy. Pimpin' dang rhoncus yo. In hac check out this platea dictumst. Boom shackalack dapibizzle. Shiz tellus pimpin', pretizzle fo shizzle, mattizzle ac, break yo neck, yall vitae, nunc. Its fo rizzle suscipizzle. Integizzle shit daahng dawg sizzle purizzle. Dope da bomb leo boom shackalack nisi. Black rhoncizzle, arcu non malesuada facilisis, uhuh ... yih! nulla aliquet sem, non auctizzle nulla felizzle stuff fo shizzle. Suspendisse volutpizzle bizzle augue. Sed egestas owned izzle shut the shizzle up. Prizzle ghetto blandit black. Etizzle aliquet, dizzle bizzle amizzle."
  .row
    .span9
      %h4.text-info= "Let us watch the market for you"
      = "Lorizzle fizzle fo shizzlin dizzle, doggy adipiscing crazy. Fo sapien velizzle, gangster volutpizzle, suscipizzle ass, brizzle i'm in the shizzle, bling bling. Sheezy fo shizzle tortizzle. Sizzle erizzle. Yippiyo break it down dolizzle nizzle for sure things fo. Bling bling i saw beyonces tizzles and my pizzle went crizzle nibh get down get down dang. My shizz izzle sheezy. Pimpin' dang rhoncus yo. In hac check out this platea dictumst. Boom shackalack dapibizzle. Shiz tellus pimpin', pretizzle fo shizzle, mattizzle ac, break yo neck, yall vitae, nunc. Its fo rizzle suscipizzle. Integizzle shit daahng dawg sizzle purizzle. Dope da bomb leo boom shackalack nisi. Black rhoncizzle, arcu non malesuada facilisis, uhuh ... yih! nulla aliquet sem, non auctizzle nulla felizzle stuff fo shizzle. Suspendisse volutpizzle bizzle augue. Sed egestas owned izzle shut the shizzle up. Prizzle ghetto blandit black. Etizzle aliquet, dizzle bizzle amizzle."
    .span3
      = image_tag("stock2.jpg", :size => "320x240", :class => "imgshadow")
  .row
    .span3
      = image_tag("stock3.jpg", :size => "320x240", :class => "imgshadow")
    .span9
      %h4.text-info= "You control the amount of risk"
      = "Lorizzle fizzle fo shizzlin dizzle, doggy adipiscing crazy. Fo sapien velizzle, gangster volutpizzle, suscipizzle ass, brizzle i'm in the shizzle, bling bling. Sheezy fo shizzle tortizzle. Sizzle erizzle. Yippiyo break it down dolizzle nizzle for sure things fo. Bling bling i saw beyonces tizzles and my pizzle went crizzle nibh get down get down dang. My shizz izzle sheezy. Pimpin' dang rhoncus yo. In hac check out this platea dictumst. Boom shackalack dapibizzle. Shiz tellus pimpin', pretizzle fo shizzle, mattizzle ac, break yo neck, yall vitae, nunc. Its fo rizzle suscipizzle. Integizzle shit daahng dawg sizzle purizzle. Dope da bomb leo boom shackalack nisi. Black rhoncizzle, arcu non malesuada facilisis, uhuh ... yih! nulla aliquet sem, non auctizzle nulla felizzle stuff fo shizzle. Suspendisse volutpizzle bizzle augue. Sed egestas owned izzle shut the shizzle up. Prizzle ghetto blandit black. Etizzle aliquet, dizzle bizzle amizzle."
  .row
    .span9
      %h4.text-info= "Check your progress in real time"
      = "Lorizzle fizzle fo shizzlin dizzle, doggy adipiscing crazy. Fo sapien velizzle, gangster volutpizzle, suscipizzle ass, brizzle i'm in the shizzle, bling bling. Sheezy fo shizzle tortizzle. Sizzle erizzle. Yippiyo break it down dolizzle nizzle for sure things fo. Bling bling i saw beyonces tizzles and my pizzle went crizzle nibh get down get down dang. My shizz izzle sheezy. Pimpin' dang rhoncus yo. In hac check out this platea dictumst. Boom shackalack dapibizzle. Shiz tellus pimpin', pretizzle fo shizzle, mattizzle ac, break yo neck, yall vitae, nunc. Its fo rizzle suscipizzle. Integizzle shit daahng dawg sizzle purizzle. Dope da bomb leo boom shackalack nisi. Black rhoncizzle, arcu non malesuada facilisis, uhuh ... yih! nulla aliquet sem, non auctizzle nulla felizzle stuff fo shizzle. Suspendisse volutpizzle bizzle augue. Sed egestas owned izzle shut the shizzle up. Prizzle ghetto blandit black. Etizzle aliquet, dizzle bizzle amizzle."
    .span3
      = image_tag("stock4.jpg", :size => "320x240", :class => "imgshadow")
