
.row
  .span10.home_header
    %center
      %h1 Welcome to Delta Trade
  .span2
    .button
      .btn.btn-large= link_to "Sign up!", new_user_registration_path

.container.home_page
  .row
    .span3
      = image_tag("stock1.jpg", :size => "320x240", :class => "imgshadow")
    .span9
      %h4.text-info= "Get the best of both worlds.."
      = "Bacon ipsum dolor sit amet shank ball tip t-bone jerky spare ribs, strip steak tongue salami. Tongue boudin doner bresaola turducken ham hock sirloin flank. Bacon andouille leberkas swine jerky short loin. Cow pork kielbasa bacon pig. Ground round bresaola sausage, beef spare ribs capicola ham hock pastrami pork loin fatback t-bone pancetta ham beef ribs andouille. Tail rump kielbasa, filet mignon chuck shoulder chicken brisket pork belly ribeye ground round."
  .row
    .span9
      %h4.text-info= "Let us watch the market for you"
      = "Bacon ipsum dolor sit amet shank ball tip t-bone jerky spare ribs, strip steak tongue salami. Tongue boudin doner bresaola turducken ham hock sirloin flank. Bacon andouille leberkas swine jerky short loin. Cow pork kielbasa bacon pig. Ground round bresaola sausage, beef spare ribs capicola ham hock pastrami pork loin fatback t-bone pancetta ham beef ribs andouille. Tail rump kielbasa, filet mignon chuck shoulder chicken brisket pork belly ribeye ground round."
    .span3
      = image_tag("stock2.jpg", :size => "320x240", :class => "imgshadow")
  .row
    .span3
      = image_tag("stock3.jpg", :size => "320x240", :class => "imgshadow")
    .span9
      %h4.text-info= "You control the amount of risk"
      = "Bacon ipsum dolor sit amet shank ball tip t-bone jerky spare ribs, strip steak tongue salami. Tongue boudin doner bresaola turducken ham hock sirloin flank. Bacon andouille leberkas swine jerky short loin. Cow pork kielbasa bacon pig. Ground round bresaola sausage, beef spare ribs capicola ham hock pastrami pork loin fatback t-bone pancetta ham beef ribs andouille. Tail rump kielbasa, filet mignon chuck shoulder chicken brisket pork belly ribeye ground round."
  .row
    .span9
      %h4.text-info= "Check your progress in real time"
      = "Bacon ipsum dolor sit amet shank ball tip t-bone jerky spare ribs, strip steak tongue salami. Tongue boudin doner bresaola turducken ham hock sirloin flank. Bacon andouille leberkas swine jerky short loin. Cow pork kielbasa bacon pig. Ground round bresaola sausage, beef spare ribs capicola ham hock pastrami pork loin fatback t-bone pancetta ham beef ribs andouille. Tail rump kielbasa, filet mignon chuck shoulder chicken brisket pork belly ribeye ground round."
    .span3
      = image_tag("stock4.jpg", :size => "320x240", :class => "imgshadow")
