.account_block
  .row
    .span1
      = image_tag("plus.png", size: "30x30", :id => "toggle_account_balance")
    .span4
      %h4 Total Balance
    .span3
      = number_to_currency(current_user.total_account_balance)
    .span3
      = "#{current_user.total_return_rate}% Returns since #{current_user.created_at.strftime("%B %Y")}"
  .row#account_balance
    .span1
    .span6
      %table.table.table-bordered.table-striped
        %tr
          %td
            %h5 Total Returns
          %td
            = "#{current_user.total_return_rate}%"
        %tr
          %td
            %h5 What you've invested
          %td
            = number_to_currency(current_user.total_principal_balance)
        %tr
          %td
            %h5 What you've earned
          %td
            = number_to_currency(current_user.total_earned)
    .span3

- @accounts.each do |account|
  .account_block
    .row
      .span1
        = image_tag("plus.png", size: "30x30", :id => "toggle_account_#{account.id}")
      .span7
        %h4= account.name
      .span2
        %h4.pull-right= "Balance: #{number_to_currency(account.balance)}"
    %div{:class => "row", :id => "account_#{account.id}"}
      .span5
      .span3
        = render 'shared/meter', :account => account
      .span3
        = link_to 'Transfer', transfer_from_path(account_id: account), :class => "btn"
        = link_to 'Edit', edit_account_path(account), :class => "btn"
        = link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"

    :javascript
      $(document).ready(function(){
        $("#account_#{account.id}").hide();    
      });
      $(function() {
        $("#toggle_account_#{account.id}").click(function() {
           $("#account_#{account.id}").slideToggle();    
        }); 
      });

:javascript
  $(document).ready(function(){
    $("#account_balance").hide();    
  });
  $(function() {
    $("#toggle_account_balance").click(function() {
       $("#account_balance").slideToggle();    
    }); 
  });
